/**************************************************
*
*     Front-End News CSS
*
*     White                 :fff;
*     Indigo                :#3f51b5;
*     Indigo(Dark)          :#303f9f;
*     Light Blue            :#c5cae9;
*     Pink                  :#ff4081;
*     Gray (Dark)           :#212121;
*     Gray (Medium)         :#727272;
*     Gray (Light)          :#b6b6b6;
*
*
*
*
*************************************************/

/*---------------------------------------------
*                Base
----------------------------------------------*/

body{

}

h1, h2, h3, h4 ,h5 ,h6{

}

ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{

}

p{

}

/*---------------------------------------------
*               Hero
----------------------------------------------*/
.hero{
  background-color: #3f51b5;
  color: #fff;
  margin-bottom: 40px;
  padding: 20px 0;
  text-align: center;
}

/*---------------------------------------------
*               Logo
----------------------------------------------*/
.logo{
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

/*---------------------------------------------
*               News
----------------------------------------------*/

.news-item{
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.news-link{
  color: #3f51b5;
  font-size: 24px;
}

/*---------------------------------------------
*               Content
----------------------------------------------*/

.container{
  margin: 0 auto;
  max-width: 800px;
}
